.photos {
    -webkit-column-count: 3;
    -webkit-column-gap: 1px;
    -moz-column-count: 3;
    -moz-column-gap: 1px;
    column-count: 3;
    column-gap: 1px;
}

.photos img {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 800px) {
    .photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.card {
    display: inline-block;
    padding-bottom: 1px;
    box-shadow: none;
}

.box {
    background-color: rgb(253, 246, 231);
}

.titletext {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}

.modaltext {
    font-family: 'Tinos', serif;
}

.artist-text {
    font-family: 'Permanent Marker', cursive;
    font-weight: 200;
}

.footer {
    /* alternative colours */
    /* background-color: rgb(231, 139, 85); */
    /* background-color: rgb(1, 73, 33); */
    background-color: rgb(3, 80, 38);
    color: rgb(253, 246, 231);
}